@charset "ISO-8859-1";

.label-header {
	font-size: 45px;
	color: white;
	text-shadow: 0 0 3px black, 0 0 5px grey;
}

button {
	background: white;
	color: black;
	border-radius: 12px;
}

.homepage-button {
	padding-bottom:200px;
}

.new {
	background-repeat: stretch;
  	height: 100%;
  	width: 100%;
}
